#################################
#   Git Ignore Files / Folders
#

# Vendors
node_modules/*
vendor/*

# Ignore sensible files
resources/json/token/*

# Ignore logs
logs/*

# Hide cache
cache/*
www/.DS_Store
.DS_Store

# Composer
composer.lock

# Npm
package-lock.json
